.block{
    --shadow: 0 2px 4px rgba(0, 0, 0, .4);
    height: 100vh;
    color: #fff;
    padding-top: 30vh;
    padding-left: 15vw;
    position: relative;
    .bg {
        position: absolute;
        background: #444 url(https://img3.akspic.ru/crops/0/1/9/1/21910/21910-gornyj_relef-gornyj_hrebet-pejzazhi_gor-unreal_tournament-gora-2560x1440.jpg) no-repeat 50%/cover;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        filter: saturate(97%) brightness(64%);
    }
    .title {
        font-size: 3vw;
        text-transform: uppercase;
        letter-spacing: 1vw;
        padding-bottom: 1.5vw;
        text-shadow: var(--shadow);
        &::after{
            content: '';
            display: block;
            height: .4vh;
            background: #fff;
            width: 43.4vw;
            margin-top: 3.5vh;
            box-shadow: var(--shadow);
        }
    }
}




