.box {
    height: 100vh;
    display: grid;
    grid-template-columns: 700px 1fr;
    &__left{
        background-color: #444;
        color: #fff;
        padding: 200px 130px;
        display: grid;
        grid-template-rows: auto 1fr;
        &::before{
            content: '';
            position: absolute;
            display: block;
            width: 3px;
            height: 50%;
            top: 36%;
            left: 4.5%;
            background-color: #fff;
        }
        &-wrapper{
            display: grid;
            align-content: end;
            row-gap: 40px;
            padding-left: 50px;
        }
        &-title{
            text-transform: uppercase;
            font-size: 3em;
            line-height: 1.2em;
            letter-spacing: 0.2em;
            &_small{
                text-transform: uppercase;
                letter-spacing: 0.2em;
            }
        }
        &-descr{
            width: 410px;
            letter-spacing: 0.1em;
        }
    }
}


