.box {
    height: 100vh;
    display: grid;
    grid-template-columns: 700px 1fr;
    &__left{
        background-color: #444;
        color: #fff;
        padding: 200px 130px;
        display: grid;
        grid-template-rows: auto 1fr;
        &::before{
            content: '';
            position: absolute;
            display: block;
            width: 3px;
            height: 50%;
            top: 36%;
            left: 4.5%;
            background-color: #fff;
        }
        &-wrapper{
            display: grid;
            align-content: end;
            row-gap: 40px;
            padding-left: 50px;
        }
        &-title{
            text-transform: uppercase;
            font-size: 3em;
            line-height: 1.2em;
            letter-spacing: 0.2em;
            &_small{
                text-transform: uppercase;
                letter-spacing: 0.2em;
            }
        }
        &-descr{
            width: 410px;
            letter-spacing: 0.1em;
        }
    }
    &__right{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        padding: 60px;
        grid-gap: 60px;
        .card{
            display: grid;
            justify-items: center;
            text-align: center;
            &__img{
                width: 99px;
                height: 112px;
                background-color: #333;
                -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                transform: rotate(29deg);
                display: grid;
                justify-items: center;
                align-items: center;
                & svg {
                    width: 34%;
                    height: 33%;
                    transform: rotate(calc(29deg * -1));
                    & path{
                        fill: #fff;
                    }
                }
            }
            &__title{
                margin: 16px 0;
                color: #777;
                font-size: 14px;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
        }
    }
}


